@import url('https://fonts.googleapis.com/css?family=Krona+One|Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Krona One';
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../img/naslovna-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}

/* Logo, img, description */
.top {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2vh;
    left: 1vw;
}

.logo {
    height: 100px;
    width: 100px;
}

.doc {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
    left: -27px;
}

.title {
    font-family: 'Krona One';
    font-size: 20px;
    color: white;
    letter-spacing: 10px;
    position: relative;
    left: -19px;
}

.description {
    font-family: 'Krona One';
    font-size: 12px;
    color: white;
    position: relative;
    top: -20px;
}

/* Nav bar */
nav {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    z-index: 100;
}

label .logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    position: relative;
    top: -2vh;
}

nav ul li {
    display: inline-block;
    list-style: none;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #09767c;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        position: relative;
        top: -35px;
        right: 60px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 130vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a:active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* Main - form */
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 50px;
}

h1 {
    font-size: 24px;
    font-family: 'Roboto Mono';
    padding: 20px;
}

p {
    font-family: 'Roboto Mono';
    font-size: 18px;
    padding-bottom: 10px;
}

.working-hours {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    left: 80px;
    padding-left: 50px;
}

.q-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 10vh;
    left: 50vh;
    width: 30%;
    padding-bottom: 20px;
}

input {
    background-color: #fff;
    border: 4px solid #09767c;
    line-height: 2.6;
    border-radius: 8px;
    padding-left: 12px;
    color: black;
    cursor: 3px solid black;
}

input:focus {
    outline: none;
}

.poruka {
    height: 8vh;
    overflow: auto;
}

h5 {
    padding: 20px 40px;
    font-size: 18px;
    letter-spacing: 2px;
}

.form {
    font-size: 14px;
    padding: 20px;   
}

button {
    display: inline-block;
    font-family: 'Krona One';
    font-size: 12px;
    border: 5px solid #09767c;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    color: #09767c;
    position: relative;
    left: 0vh;
    font-size: 18px;
    letter-spacing: 8px;
    cursor: pointer;
}
    
button:hover {
    background: #09767c;
    color: #fff;
    font-weight: bold;
    border: 5px solid #fff;
}

/* Message */
.msg {
    margin-left: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    width: 70%;
    background-color: #09767c;
    display: flex;
    justify-content: center;
}

/* Media Queries */
@media (min-width: 659px) {
    .working-hours {
        border-left: 1px solid white;
    }  
}

@media (max-width: 658px) {
    .working-hours {
        border-left: none;
        border-top: 1px solid white;
        position: relative;
        top: 50px;
        left: 50px;
        padding-left: 50px;
    }
    .q-form {
        top: 100px;
        left: 50px;
    }
}